.container {
  margin: 0 auto;
  padding: 0 8px;

  @media (min-width: 460px) {
    min-width: 400px;
    padding: 0 30px;
  }

  @media (min-width: 768px) {
    min-width: 688px;
    padding: 0 40px;
  }

  @media (min-width: 1024px) {
    min-width: 824px;
    padding: 0 100px;
  }

  @media (min-width: 1360px) {
    min-width: 860px;
    padding: 0 250px;
  }

  @media (min-width: 1920px) {
    padding: 0 347px;
    max-width: 1920px;
  }
}