.advantages__title {
  margin: 0;
  padding-bottom: 4px;
  color: #c9c3f3;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.advantages__text {
  font-weight: 600;
}